<section  class="cat-container">
    <mat-card class = 'cat-card' *ngFor="let cat of catList">
        <mat-card-header>
            <img src={{countryUrl(cat.country_code)}} mat-card-avatar class="example-header-image" alt="">
            <mat-card-title>{{cat.name}}</mat-card-title>
            <mat-card-subtitle>{{cat.origin}}</mat-card-subtitle>
        </mat-card-header>
        <div class="cat-img-container">
            <img class="cat-img"  src={{cat.image.url}} alt="">
            <mat-icon class="fav-button" (click) = 'getImageId(cat.image.id)'>grade</mat-icon> 
            
        </div>

        <mat-card-content class="cat-content">
            <p>
            {{cat.description}}
            </p>
            <a [routerLink]="['/catinfo', cat.id]"> More Info >></a>
        </mat-card-content>
    </mat-card>
</section>

